<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="80px;" height="80px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>