<div class="user-details">
  <h1>사용하는 개발기술</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="col-md-4">
    <h2>Java</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#객체지향 프로그래밍에 대한 이해와 이를 토대로한 라이브러리 작성</p>
    <p>#tool을 이용한 기본적인 알고리즘 설계</p>
    <p> by eclipse </p>
  </div>&nbsp;&nbsp;&nbsp;     
  <div class="col-md-4">
    <h2>Spring Framework</h2>
    <img src="img/spring.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#게시판, 댓글, 회원, 상품등의 CRUD기능 구현과 Paging기능, 검색기능 구현</p>
    <p>#RESTful 방식의 API 개발</p>
    <p>#스프링 MVC project를 위한 기본적인 환경설정</p>
    <p> by STS </p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>JSP/Servlet</h2>
    <img src="img/jsp.png" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#DB와 연동을 통해 회원, 게시판등의 기본적인 CRUD 화면설계</p>
    <p>#EL, JSTL, JDBC 적용가능</p>
    <p> by eclips,STS </p>
  </div>
</div>
<div class="user">
  <div class="col-md-4">
    <h2>HTML5/CSS3</h2>
    <img src="img/html_css.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#웹 표준에 맞춘 HTML작성 가능</p>
    <p>#CSS 지식을 바탕으로 기본적인 웹화면 설계, 구현</p>
    <p>#Bootstrap4을 이용한 화면설계</p>
    <p> by Visual Studio Code </p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>JavaScript/jQuery</h2>
    <img src="img/js.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#기본적인 JS문법 사용가능</p>
    <p>#jQuery 라이브러리로 선택자 선택 및 DOM객체 다루기</p>
    <p>#AJAX, JSON을 이용한 설계 가능</p>
    <p> by eclipse, Visual Studio Code </p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>MariaDB</h2>
    <img src="img/mariadb.jfif" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>#쇼핑몰, 게시판, 회원, 상품등의 테이블 설계와 SQL문 작성가능</p>
    <p>#DML,DDL,DCL 사용 가능</p>
    <p> by HeidiSQL</p>
  </div>
</div>