<div class="user-details">
  <h1>사용하는 개발기술</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="col-md-4">
    <h2>Java</h2>
    <img src="img/java.png" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>&nbsp;&nbsp;&nbsp;     
  <div class="col-md-4">
    <h2>Spring Framework</h2>
    <img src="img/spring.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>JSP/Servlet</h2>
    <img src="img/jsp.png" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
<div class="user">
  <div class="col-md-4">
    <h2>HTML5/CSS3</h2>
    <img src="img/html_css.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>JavaScript/jQuery</h2>
    <img src="img/js.jpg" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>&nbsp;&nbsp;&nbsp;
  <div class="col-md-4">
    <h2>MariaDB</h2>
    <img src="img/mariadb.jfif" class="img-responsive" alt="" width="110px;" height="110px;" style="display:block; margin: 0px auto;">
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>